<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add 
			name="Chinook" 
			connectionString="server=ML-RefVm-282052;database=Chinook;user id=sa;password=sql;"
			providerName="System.Data.SqlClient" 
		/>
	</connectionStrings>
</configuration>